# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Object files from assembly compilation
*.o
*.obj

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

# Fuzz corpus and cache
testdata/fuzz/

# Multipass cloud-init artifacts
multipass-cloud-init.yml
